.customstyle {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5%;
  font-family: "Courier New", Courier, monospace;
}
.cardstyle {
  display: flex;
  margin: 5px;
  width: 1000px;
  font-family: "Courier New", Courier, monospace;
  background-color: gray;
  color: black;
  font-weight: bold;
}
body {
  background-color: rgb(157, 157, 147);
}
